* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

header {
  background-color: white;
  height: 12vh;
  position: fixed;
  width: 100vw;
  color: black;
  padding: 1.1rem;
  z-index: 5;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .6rem 5.6rem;
  width: 100%;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header ul .ted {
  padding-top: .5rem;
}

header ul li {
  padding-left: 1.3rem;
}

header ul li:hover {
  color: #cf2727;
  -webkit-text-decoration: black;
          text-decoration: black;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  -webkit-text-decoration: black;
          text-decoration: black;
  color: red;
}

header .logo {
  color: red;
}

header i {
  font-size: 1rem;
  color: red;
  margin-top: -1rem;
}

header button {
  font-size: 1rem;
  padding: .3rem 1.1rem;
  border-radius: 2rem;
  border: none;
  background-color: yellow;
  text-align: center;
}

.Landing-page {
  background-color: #E7272D;
  height: 100vh;
}

.Landing-page ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem 2rem 0rem;
}

.Landing-page ul li {
  color: yellow;
  padding: 1.9rem;
}

.Landing-page ul .worth {
  margin-left: auto;
  color: white;
}

.Landing-page ul .worth h1 {
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 6rem;
  height: 5.5rem;
  padding: .9rem;
  background-color: yellow;
  text-align: center;
  font-size: 1.5rem;
}

.Landing-page ul .worth h1 a {
  text-decoration: none;
  color: red;
}

.Landing-page ul .worth img {
  margin-bottom: 19rem;
  height: 75vh;
}

.Landing-page .part1 {
  padding: 1rem;
}

.Landing-page .part1 h3 {
  font-size: 1.2rem;
}

.Landing-page .part1 h2 {
  padding-top: 1rem;
  font-size: 5.5rem;
  color: white;
  font-weight: 800;
}

.Landing-page .part1 .button {
  padding: 1rem;
}

.Landing-page .part1 button {
  font-size: .9rem;
  padding: .4rem 1.1rem;
  border-radius: 2rem;
  background-color: yellow;
  border: none;
  text-align: center;
}

main {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
}

main .about h1 {
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

main .about h3 {
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  color: #999999;
  font-weight: 500;
}

main .about p {
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  color: #888888;
}

main .about button {
  font-size: .9rem;
  cursor: pointer;
  padding: .8rem 1.2rem;
  border-radius: 2rem;
  border: none;
  background-color: red;
  color: white;
}

main .about button:hover {
  background-color: #e60000;
}

main .Food {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  font-size: 1rem;
}

main .Food i {
  color: red;
  border-radius: 1.5rem;
  background-color: #FEF5F4;
  padding: .5rem;
  border: none;
  font-size: 1.4rem;
}

main .Food p {
  font-size: 1.2rem;
}

.page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 5.5rem;
  margin-top: 3rem;
  height: 70vh;
  background-color: #F8F9FA;
}

.page3 h1 {
  padding-bottom: 1rem;
  font-size: 1.7rem;
  padding-top: 1rem;
  font-weight: 600;
}

.page3 p {
  padding-bottom: 1rem;
  font-size: .9rem;
  color: #888888;
}

.page3 .book {
  padding-top: 1.9rem;
}

.page3 button {
  font-size: 1.4rem;
  padding: .3rem 1.1rem;
  border-radius: 2rem;
  border: none;
  background-color: #E7262D;
  color: white;
}

.page3 button:hover {
  background-color: #c4161c;
  color: white;
}

.page3 img {
  height: 25rem;
  border: none;
  border-radius: 1rem;
}

.page4 {
  padding: 4.5rem;
}

.page4 img {
  border: none;
  border-radius: 1rem;
}

.page4 .art {
  text-align: center;
}

.page4 .art h2 {
  color: #999999;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.page4 .art h1 {
  font-size: 2rem;
}

.page4 .Gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.page4 .Gallery .item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.page4 .Gallery .item1 img {
  padding-top: 4rem;
  height: 57vh;
  width: 19rem;
  border-radius: 2rem;
}

.page4 .Gallery .item2 img {
  height: 23rem;
  width: 20rem;
}

.page4 .Gallery .item3 {
  padding-bottom: 0;
  width: 19rem;
  min-height: 5rem;
}

.page4 .Gallery .item3 img {
  max-height: 25rem;
  max-width: 100%;
}

.page4 .item4 {
  position: relative;
}

.page4 .item4 img {
  position: absolute;
  bottom: -.5rem;
  height: 21rem;
  width: 21rem;
  left: -.5rem;
}

.page4 .item5 img {
  height: 14rem;
}

.page4 .item6 {
  position: relative;
}

.page4 .item6 img {
  position: absolute;
  width: 100%;
  top: -9.5rem;
}

.page5 {
  padding: 2rem;
  background-color: #F8F9FA;
}

.page5 .recipies {
  text-align: center;
}

.page5 .recipies h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.page5 .recipies h2 {
  color: #999999;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}

.page5 .recipies ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page5 .recipies ul li {
  margin: 1rem;
  border: none;
  border-radius: .5rem;
  background: white;
}

.page5 .recipies ul li:hover {
  -webkit-transition-delay: .10s;
          transition-delay: .10s;
  background-color: red;
}

.page5 .recipies ul li:hover h1 {
  color: white;
}

.page5 .recipies ul li:hover h3 {
  color: white;
}

.page5 .recipies ul li:hover h4 {
  color: white;
}

.page5 .recipies ul li:hover .order button {
  background-color: white;
  color: red;
}

.page5 .recipies ul li .center {
  text-align: center;
}

.page5 .recipies ul li .center img {
  padding-top: 1rem;
  height: 14rem;
  width: 15rem;
  border-radius: 1.5rem;
  margin-bottom: 1.9rem;
}

.page5 .recipies ul li h1 {
  padding: .5rem;
  font-size: 2.5rem;
}

.page5 .recipies ul li h4 {
  padding-top: .8rem;
  padding-bottom: 1rem;
  text-align: center;
  color: gray;
}

.page5 .recipies ul li h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.page5 .recipies ul li .order {
  text-align: center;
}

.page5 .recipies ul li .order button {
  text-align: center;
  font-size: 1.2rem;
  padding: .4rem 1.0rem;
  border-radius: 2rem;
  border: none;
  background-color: red;
}

.page6 {
  padding: 5rem;
}

.page6 .clients {
  text-align: center;
  padding: 3rem;
  padding-top: 2rem;
}

.page6 .clients h4 {
  color: #999999;
  font-size: 1rem;
  font-weight: 600;
}

.page6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.page6 ul li {
  padding: 1rem;
}

.page6 ul li p {
  font-size: 1.6rem;
  font-weight: 500;
  padding-right: 4rem;
}

.page6 ul li h1 {
  padding-top: 2rem;
  font-size: 2.3rem;
}

.page6 ul li h3 {
  font-size: 1.3rem;
  color: #888888;
  font-weight: 400;
}

footer {
  background-color: #212529;
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: 0;
  color: white;
}

footer .last {
  padding: 4rem;
}

footer .last ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

footer .last ul li {
  padding: 2rem;
}

footer .last ul li p {
  padding-top: 1rem;
  padding-bottom: .3rem;
  color: #999999;
  font-size: 1.2rem;
}

footer .last ul li .open {
  padding-left: 3rem;
  padding-right: 5rem;
}

footer .last ul li .open P {
  font-size: 1rem;
}

footer .last ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 1.3rem;
}

footer .last ul li a:hover {
  color: yellow;
}

footer .last ul .middle1 {
  border: solid;
  border-width: .1rem;
  border-top: none;
  border-bottom: none;
}

footer .last ul .middle2 {
  border-right: solid;
  border-width: .1rem;
}

footer .divider {
  padding: 2rem;
}

footer .divider hr {
  border: none;
  color: #999999;
  background-color: #999999;
  height: .1rem;
}

footer .clone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

footer .clone .reserved {
  color: white;
  font-size: 1.2rem;
  color: #bbbbbb;
  font-size: 400;
}

footer .clone .social {
  margin-left: auto;
}

footer .clone .social i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #999999;
}

footer .clone .social i:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */