*{
    margin: 0;
    padding: 0;
}

header{
    background-color: yellow;
    .navbar{
        display: flex;
        padding: 2rem;
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0rem;
        margin-left: auto;

       
        li{
            padding: 1rem;

            &:hover{
                color: black;
                text-decoration: black;
            }
        }
      }
    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: black;
            text-decoration: black;
        }
    }

    i{
        font-size: 2.1rem;
        color: red;
    }

    button{
        font-size: 1.4rem;
        padding: .3rem 1.1rem;
        border-radius: 2rem;
    }
}
