* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 70%;
  }
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 50%;
  }
}

header {
  background-color: white;
  height: 12vh;
  position: fixed;
  width: 100vw;
  padding: 1.1rem;
  z-index: 5;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  header {
    padding: .5rem;
  }
}

@media only screen and (max-width: 400px) {
  header {
    padding: .3rem;
  }
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .6rem 5.6rem;
}

@media only screen and (max-width: 768px) {
  header .navbar {
    padding: .5rem 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  header .navbar {
    padding: .2rem .2rem;
  }
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header ul .ted {
  padding-top: .5rem;
}

header ul li {
  padding-left: 1.3rem;
}

@media only screen and (max-width: 768px) {
  header ul li {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  header ul li {
    padding: .7rem;
  }
}

header ul li:hover {
  color: #cf2727;
  -webkit-text-decoration: black;
          text-decoration: black;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  -webkit-text-decoration: black;
          text-decoration: black;
  color: red;
}

header .logo {
  color: red;
}

@media only screen and (max-width: 768px) {
  header .logo h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  header .logo h1 {
    font-size: 1rem;
    padding-top: .5rem;
  }
}

header i {
  font-size: 1.5rem;
  color: red;
  margin-top: -1rem;
}

@media only screen and (max-width: 768px) {
  header i {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  header i {
    font-size: .8rem;
  }
}

header button {
  font-size: 1rem;
  padding: .3rem 1.1rem;
  border-radius: 2rem;
  border: none;
  background-color: yellow;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header button {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 400px) {
  header button {
    font-size: .5rem;
  }
}

.Landing-page {
  background-color: #E7272D;
  height: 100vh;
}

@media only screen and (max-width: 400px) {
  .Landing-page {
    padding-top: .9rem;
    height: 90vh;
  }
}

.Landing-page ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 2rem 2rem 0rem;
}

@media only screen and (max-width: 768px) {
  .Landing-page ul {
    padding: 3rem .5rem 1rem 0;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page ul {
    padding: 3rem .3rem .7rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Landing-page ul li {
  color: yellow;
  padding: 1.9rem;
}

@media only screen and (max-width: 768px) {
  .Landing-page ul li {
    padding: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page ul li {
    padding: 1rem;
  }
}

.Landing-page ul .worth {
  margin-left: auto;
  color: white;
}

@media only screen and (max-width: 400px) {
  .Landing-page ul .worth {
    margin-left: initial;
  }
}

.Landing-page ul .worth .circle {
  position: absolute;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 1rem;
  background-color: yellow;
  text-align: center;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .Landing-page ul .worth .circle {
    font-size: .9rem;
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page ul .worth .circle {
    font-size: .9rem;
    width: 70px;
    height: 70px;
  }
}

.Landing-page ul .worth .circle p {
  margin-bottom: 0;
}

.Landing-page ul .worth .circle .price {
  color: red;
}

.Landing-page ul .worth img {
  margin-bottom: 19rem;
  height: 75vh;
}

@media only screen and (max-width: 768px) {
  .Landing-page ul .worth img {
    height: 70vh;
    margin-bottom: 15rem;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page ul .worth img {
    height: 45vh;
  }
}

.Landing-page .part1 {
  padding: 1rem;
}

@media only screen and (max-width: 400px) {
  .Landing-page .part1 {
    padding: .5rem;
  }
}

.Landing-page .part1 h3 {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .Landing-page .part1 h3 {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page .part1 h3 {
    font-size: 1.3rem;
    padding-top: 1.9rem;
  }
}

.Landing-page .part1 h2 {
  padding-top: 1rem;
  font-size: 5.5rem;
  color: white;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .Landing-page .part1 h2 {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page .part1 h2 {
    font-size: 1.8rem;
    padding-top: 0;
  }
}

.Landing-page .part1 .button {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .Landing-page .part1 .button {
    padding: .5rem;
  }
}

.Landing-page .part1 button {
  font-size: .9rem;
  padding: .4rem 1.1rem;
  border-radius: 2rem;
  background-color: yellow;
  border: none;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .Landing-page .part1 button {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 400px) {
  .Landing-page .part1 button {
    font-size: .9rem;
  }
}

main {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 3rem;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .about h1 {
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  main .about h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  main .about h1 {
    margin-top: 2rem;
    margin-bottom: .8rem;
  }
}

main .about h3 {
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  color: #999999;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  main .about h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  main .about h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
}

main .about p {
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  color: #888888;
}

@media only screen and (max-width: 768px) {
  main .about p {
    font-size: .8rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  main .about p {
    font-size: 1rem;
  }
}

main .about button {
  font-size: .9rem;
  cursor: pointer;
  padding: .8rem 1.2rem;
  border-radius: 2rem;
  border: none;
  background-color: red;
  color: white;
}

@media only screen and (max-width: 768px) {
  main .about button {
    font-size: .7rem;
    padding: .7rem 1rem;
  }
}

@media only screen and (max-width: 400px) {
  main .about button {
    font-size: .9rem;
  }
}

main .about button:hover {
  background-color: #e60000;
}

main .Food {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  main .Food {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 400px) {
  main .Food {
    font-size: 1rem;
  }
}

main .Food i {
  color: #e61a21;
  border-radius: 1.5rem;
  background-color: #FEF5F4;
  padding: .5rem;
  border: none;
  font-size: 1.6rem;
}

@media only screen and (max-width: 768px) {
  main .Food i {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  main .Food i {
    font-size: 1.5rem;
  }
}

main .Food p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  main .Food p {
    font-size: 1rem;
  }
}

.page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 5.5rem;
  margin-top: 3rem;
  height: 100vh;
  background-color: #F8F9FA;
}

@media only screen and (max-width: 768px) {
  .page3 {
    font-size: 1rem;
    padding: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .page3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 1rem;
    padding-top: 3rem;
  }
}

.page3 h1 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  padding-top: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page3 h1 {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page3 h1 {
    font-size: 1.5rem;
  }
}

.page3 p {
  padding-bottom: 1rem;
  font-size: 1rem;
  color: #888888;
}

@media only screen and (max-width: 768px) {
  .page3 p {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 400px) {
  .page3 p {
    font-size: 1.2rem;
  }
}

.page3 .book {
  padding-bottom: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .page3 .book {
    padding-bottom: 3.9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page3 .book {
    padding-bottom: 1rem;
  }
}

.page3 button {
  font-size: 1rem;
  padding: .5rem 1.2rem;
  border-radius: 2rem;
  border: none;
  background-color: #E7262D;
  color: white;
}

@media only screen and (max-width: 768px) {
  .page3 button {
    font-size: .7rem;
    padding: .3rem .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page3 button {
    font-size: 1rem;
  }
}

.page3 button:hover {
  background-color: #c4161c;
  color: white;
}

.page3 img {
  height: 20rem;
  border: none;
  border-radius: 1rem;
}

.page4 {
  padding: 1rem;
  padding-top: 5rem;
  overflow-x: hidden;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .page4 {
    padding: .8rem;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 {
    margin-top: 17rem;
    padding: 0;
    padding-top: 7rem;
  }
}

.page4 img {
  border-radius: 1rem;
}

.page4 .art {
  text-align: center;
}

.page4 .art h2 {
  color: #999999;
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page4 .art h2 {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .art h2 {
    font-size: 1.1rem;
  }
}

.page4 .art h1 {
  font-size: 2.2rem;
  padding-bottom: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page4 .art h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .art h1 {
    font-size: 2rem;
  }
}

.page4 .Gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    padding: .5rem;
    height: 100vh;
  }
}

.page4 .Gallery .item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  padding-top: 4.5rem;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .page4 .Gallery .item1 {
    padding-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery .item1 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.page4 .Gallery .item1 img {
  height: 19rem;
  width: 19rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
  .page4 .Gallery .item1 img {
    height: 10rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery .item1 img {
    height: 13rem;
    width: 10rem;
  }
}

.page4 .Gallery .item2 img {
  height: 23rem;
  width: 20rem;
}

@media only screen and (max-width: 768px) {
  .page4 .Gallery .item2 img {
    height: 15rem;
    width: 12rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery .item2 img {
    height: 15rem;
    width: 10rem;
  }
}

.page4 .Gallery .item3 {
  padding-bottom: 0;
  width: 19rem;
  min-height: 5rem;
}

@media only screen and (max-width: 768px) {
  .page4 .Gallery .item3 {
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery .item3 {
    position: relative;
  }
}

.page4 .Gallery .item3 img {
  max-height: 25rem;
  max-width: 100%;
}

@media only screen and (max-width: 400px) {
  .page4 .Gallery .item3 img {
    position: absolute;
    top: -7rem;
    height: 10rem;
  }
}

.page4 .item4 {
  position: relative;
}

.page4 .item4 img {
  position: absolute;
  bottom: -.5rem;
  height: 19rem;
  width: 19rem;
  left: -.5rem;
}

@media only screen and (max-width: 768px) {
  .page4 .item4 img {
    height: 10rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .item4 img {
    top: -10rem;
    width: 100%;
    height: 12rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .item5 {
    position: relative;
  }
}

.page4 .item5 img {
  height: 14rem;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .page4 .item5 img {
    height: 8rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .item5 img {
    height: 11rem;
    width: 100%;
    position: absolute;
    top: -10rem;
  }
}

.page4 .item6 {
  position: relative;
}

.page4 .item6 img {
  position: absolute;
  width: 100%;
  top: -9.5rem;
}

@media only screen and (max-width: 768px) {
  .page4 .item6 img {
    height: 15rem;
    width: 10rem;
    top: -8rem;
  }
}

@media only screen and (max-width: 400px) {
  .page4 .item6 img {
    top: -11rem;
    width: 100%;
  }
}

.page5 {
  padding: 3rem;
  background-color: #F8F9FA;
  padding-top: 4rem;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .page5 {
    padding: 1rem;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 {
    padding-top: 2rem;
  }
}

.page5 .recipies {
  text-align: center;
}

.page5 .recipies h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies h1 {
    font-size: 1.3rem;
  }
}

.page5 .recipies h2 {
  color: #999999;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies h2 {
    padding-bottom: .5rem;
    font-size: .7rem;
  }
}

.page5 .recipies ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.page5 .recipies ul li {
  margin: 2rem;
  border: none;
  border-radius: .5rem;
  background: white;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li {
    margin: 1rem;
  }
}

.page5 .recipies ul li:hover {
  -webkit-transition-delay: .10s;
          transition-delay: .10s;
  background-color: red;
}

.page5 .recipies ul li:hover h1 {
  color: white;
}

.page5 .recipies ul li:hover h3 {
  color: white;
}

.page5 .recipies ul li:hover h4 {
  color: white;
}

.page5 .recipies ul li:hover .order button {
  background-color: white;
  color: red;
}

.page5 .recipies ul li .center {
  text-align: center;
}

.page5 .recipies ul li .center img {
  padding-top: 1rem;
  height: 14rem;
  width: 15rem;
  border-radius: 1.5rem;
  margin-bottom: 1.9rem;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li .center img {
    height: 9rem;
    width: 9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul li .center img {
    height: 14rem;
    width: 17rem;
  }
}

.page5 .recipies ul li h1 {
  padding: .5rem;
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: .8rem;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li h1 {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul li h1 {
    font-size: 1.3rem;
  }
}

.page5 .recipies ul li h4 {
  padding-top: .8rem;
  padding-bottom: 1rem;
  text-align: center;
  color: gray;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li h4 {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul li h4 {
    padding-top: 0;
    font-size: 1.2rem;
    padding-bottom: .5rem;
  }
}

.page5 .recipies ul li h3 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: .7rem;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li h3 {
    font-size: .9rem;
    padding-bottom: .5rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul li h3 {
    font-size: 1.2rem;
    padding-top: .3rem;
  }
}

.page5 .recipies ul li .order {
  text-align: center;
}

.page5 .recipies ul li .order button {
  text-align: center;
  font-size: 1rem;
  padding: .4rem 1.0rem;
  border-radius: 2rem;
  border: none;
  background-color: red;
}

@media only screen and (max-width: 768px) {
  .page5 .recipies ul li .order button {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 400px) {
  .page5 .recipies ul li .order button {
    font-size: 1rem;
  }
}

.page6 {
  padding: 5rem;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .page6 {
    padding: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .page6 {
    padding: 1rem;
  }
}

.page6 .clients {
  text-align: center;
  padding: 3rem;
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .page6 .clients {
    padding: 1rem;
  }
}

.page6 .clients h4 {
  color: #999999;
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page6 .clients h4 {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 400px) {
  .page6 .clients h4 {
    font-size: 1rem;
  }
}

.page6 .clients h1 {
  font-size: 1.5;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page6 .clients h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .page6 .clients h1 {
    font-size: 1.5rem;
  }
}

.page6 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  list-style-type: none;
}

@media only screen and (max-width: 400px) {
  .page6 ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.page6 ul li {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .page6 ul li img {
    height: 20rem;
    width: 22rem;
  }
}

@media only screen and (max-width: 400px) {
  .page6 ul li img {
    height: 24rem;
    width: 22rem;
  }
}

.page6 ul li p {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 2rem;
  color: #2d2d43;
}

@media only screen and (max-width: 768px) {
  .page6 ul li p {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  .page6 ul li p {
    font-size: 1rem;
    padding-top: 1rem;
  }
}

.page6 ul li h1 {
  padding-top: .8rem;
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .page6 ul li h1 {
    font-size: 1.2rem;
    padding-top: .5rem;
  }
}

.page6 ul li h3 {
  font-size: 1rem;
  color: #888888;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .page6 ul li h3 {
    font-size: .7rem;
  }
}

footer {
  background-color: #212529;
  color: white;
  overflow-x: hidden;
}

footer h4 {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  footer h4 {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 400px) {
  footer h4 {
    font-size: 1rem;
  }
}

footer .last {
  padding: 1rem;
}

@media only screen and (max-width: 400px) {
  footer .last {
    padding: 0;
  }
}

footer .last ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 1.5rem;
}

@media only screen and (max-width: 400px) {
  footer .last ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .last ul li {
  padding: 1rem;
}

footer .last ul li p {
  padding-top: .5rem;
  padding-bottom: .3rem;
  color: #999999;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  footer .last ul li p {
    font-size: .7rem;
  }
}

footer .last ul li .numb {
  color: white;
  font-size: 1.4;
}

@media only screen and (max-width: 768px) {
  footer .last ul li .numb {
    font-size: 1rem;
  }
}

footer .last ul li h3 {
  font-weight: 600;
  padding-bottom: .2rem;
}

footer .last ul li .open P {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  footer .last ul li .open P {
    font-size: .7rem;
  }
}

footer .last ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  footer .last ul li a {
    font-size: 1rem;
  }
}

footer .last ul li a:hover {
  color: yellow;
}

footer .last ul .middle1 {
  border: solid;
  border-width: .1rem;
  border-top: none;
  border-bottom: none;
}

@media only screen and (max-width: 400px) {
  footer .last ul .middle1 {
    border: none;
  }
}

footer .last ul .middle2 {
  border-right: solid;
  border-width: .1rem;
}

@media only screen and (max-width: 400px) {
  footer .last ul .middle2 {
    border: none;
  }
}

footer .divider {
  padding: 2rem;
}

@media only screen and (max-width: 400px) {
  footer .divider {
    padding: 1rem;
  }
}

footer .divider hr {
  border: none;
  color: #999999;
  background-color: #999999;
  height: .1rem;
}

@media only screen and (max-width: 400px) {
  footer .divider hr {
    height: 1rem;
  }
}

footer .clone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  footer .clone {
    font-size: 1rem;
  }
}

footer .clone .reserved {
  color: white;
  font-size: 1rem;
  color: #bbbbbb;
  font-size: 400;
}

@media only screen and (max-width: 768px) {
  footer .clone .reserved {
    font-size: .8rem;
  }
}

footer .clone .social {
  margin-left: auto;
}

footer .clone .social i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #999999;
}

@media only screen and (max-width: 768px) {
  footer .clone .social i {
    font-size: 1rem;
  }
}

footer .clone .social i:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */